version: "3"
services:
  util:
    image: ubuntu
    command: /bin/bash -c "apt-get update -y &&  apt-get install -y wget && cd /opt/filedata && rm -rf * && /bin/wget -q https://data.london.gov.uk/download/google-mobility-by-borough/26d5821b-fcb6-4aae-af73-ee0596942d16/google_activity_by_London_Borough.csv"
    volumes:
      - filedata:/opt/filedata
  db:
    image: "postgres:latest"
    restart: always
    depends_on:
      - util
    volumes:
      - ./db_init/:/docker-entrypoint-initdb.d/
      - filedata:/opt/filedata
      - dbdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: test12345
      POSTGRES_DB: postgres
    networks:
      db_nw:
  
  api:
    build: ./flask-api
    #volumes:
     # - ./flask-api/main.py:/app/main.py
    #ports:
     # - 5000:5000
    networks:
      db_nw:
      web_nw:
        aliases:
          - flask-app
    depends_on:
      - db
  
  nginx:
    image: nginx:1.13.7
    container_name: nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/my-site.com.crt:/etc/nginx/my-site.com.crt
      - ./nginx/my-site.com.key:/etc/nginx/my-site.com.key

    ports:
        - 80:80
        - 443:443
    depends_on:
      - api
    networks:
      web_nw:
    

networks:
  web_nw:
  db_nw:

volumes:
  filedata:
  dbdata:

  #app:
   # build: ./app
    #volumes:
     # - ./app/main.py:/app/main.py
   # ports:
    #  - 10020:80
   # depends_on:
   #   - db

  #nginx:
   # image: nginx
    #command: bash -c "apt-get install wget -y && cd /opt/mytask/ && wget https://data.london.gov.uk/download/google-mobility-by-borough/26d5821b-fcb6-4aae-af73-ee0596942d16/google_activity_by_London_Borough.csv"
    #volumes:
     # - "dbdata:/var/lib/myData"


