version: "3"
services:
  util:
    image: ubuntu
    command: /bin/bash -c "apt-get update -y &&  apt-get install -y wget && cd /opt/filedata && rm -rf * && /bin/wget -q https://data.london.gov.uk/download/google-mobility-by-borough/26d5821b-fcb6-4aae-af73-ee0596942d16/google_activity_by_London_Borough.csv"
    volumes:
      - filedata:/opt/filedata
  db:
    image: "postgres:latest"
    restart: always
    depends_on:
      - util
    volumes:
      - ./db_init/:/docker-entrypoint-initdb.d
      - filedata:/opt/filedata
      - dbdata:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: test12345
      POSTGRES_DB: postgres
  
  app:
    build: ./app
    volumes:
      - ./app/main.py:/app/main.py
    ports:
      - 10020:80

  #nginx:
   # image: nginx
    #command: bash -c "apt-get install wget -y && cd /opt/mytask/ && wget https://data.london.gov.uk/download/google-mobility-by-borough/26d5821b-fcb6-4aae-af73-ee0596942d16/google_activity_by_London_Borough.csv"
    #volumes:
     # - "dbdata:/var/lib/myData"

volumes:
  filedata:
  dbdata:
